.navbar {
  width: 100vw;
  height: 10vh;
  background-color: #ffff;
}

.circulo {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--marron);
  height: 65vh;
  width: 45vw;
  border-radius: 0px 0px 1000px 0px;
}
.imagen {
  background-color: blanchedalmond;
  height: 60vh;
  width: 100vw;
  background-image: url("../../../assets/mesa.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.contenido {
  padding-left: 50px;
}
.titulo {
  /*  text-align: center; */
  height: 15vh;
  width: 80%;
  padding-top: 75px;
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}
.titulo h1 {
  color: var(--blanco);
  font-weight: 400;
  font-size: 50px;
}
.titulo span {
  font-weight: bold;
}

.boton button {
  border-radius: 35px;
  padding: 15px;
  width: 200px;
  height: 70px;
  border: none;
  margin-top: 120px;
  cursor: pointer;
}
.boton button span {
  color: var(--negro);
  font-size: 25px;
}
